html {
 
  background-color: rgb(95, 95, 95);
  }
  html,
  
  .font--roboto {
	 font-weight: 400;
   color:#DBAB4C;
}
  body {
    justify-content: center;
    align-items: center;
    /* overflow-x: hidden; */
    text-align: center;
    padding: 0;
    margin: 0;
  }
  img {
    margin-top: 10rem;
    justify-content: center;
    align-items: center;
    width: 70%;
  }
h1 {
  font-family: 'Zen Loop', cursive;
}
  .title{
    /* position:absolute;
    left:60%;
    top:30%; */
    text-align:center;
    /* transform:translate(-50%, -50%); */
    color:#DBAB4C;
    font-size:7em;
    font-family: 'Zen Loop', cursive;
  }
  .totalcontainer {
    width: 100%;
    /* height: 100vh; */
    overflow: hidden;
  }
  .container1 {
    transform: scaleX(1.11);
  }
  .container2 {
    transform: scaleX(1.25);
  }
  .layer-1 {
    height: 100vh;
    width: 100%;
    background-color: #281d641a;
  }
  
  .layer-2 {
    background: url("https://res.cloudinary.com/dkgrf00g1/image/upload/v1536453880/codepen/lay2.svg")
      no-repeat center center fixed;
    animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  .layer-3 {
    background: url("https://res.cloudinary.com/dkgrf00g1/image/upload/v1536453880/codepen/lay3.svg")
      no-repeat center center fixed;
    animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
  }
  .layer-4 {
    background: url("https://res.cloudinary.com/dkgrf00g1/image/upload/v1536453880/codepen/lay4.svg")
      no-repeat center center fixed;
    animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
  }
  .layer-5 {
    background: url("https://res.cloudinary.com/dkgrf00g1/image/upload/v1536453880/codepen/lay5.svg")
      no-repeat center center fixed;
    animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.55s
      both;
  }
  .layer-6 {
    background: url("https://res.cloudinary.com/dkgrf00g1/image/upload/v1536453881/codepen/lay6.svg")
      no-repeat center center fixed;
    animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.75s
      both;
  }
  .layer-7 {
    background: url("")
      no-repeat center center fixed;
    animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.85s
      both;
  }
  .layer-8 {
    background: url("https://res.cloudinary.com/dkgrf00g1/image/upload/v1536453882/codepen/lay8.svg")
      no-repeat center center fixed;
    animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.9s both;
  }
  .laya-please {
    position: absolute;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 150vh;
    width: 100%;
    top: 0;
    left: 0px;
  }
  
  @-webkit-keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
      transform: translateY(1000px);
      opacity: 0;
    }
  
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
      transform: translateY(1000px);
      opacity: 0;
    }
  
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
      transform: translateY(-1000px);
      opacity: 0;
    }
  
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }
  
img{
    width: 500px;
}
#bigContain{
    z-index:-1;
    position: relative;
    color: white;
  }
.custom-file-upload{
  background-color: transparent; 
  color:#DBAB4C;
  border: 1.5px solid rgb(34, 34, 34);
  border-radius: 0px;
  padding: 1em 2em;
  cursor: pointer;
  /**text adjustments **/
  font-family: bebas-neue,sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 14px;
  letter-spacing: 3px;
  text-align: center;
  /** Animation **/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all .3s ease;	
  /** Flexbox **/
  width: auto;
  resize: both;
  margin: 5px;
}
input[type="file"] {
  display: none;
}
  #button1{
    background-color: transparent; 
    color:#DBAB4C;
    border: 1.5px solid rgb(34, 34, 34);
    border-radius: 0px;
    padding: 1em 2em;
    cursor: pointer;
    /**text adjustments **/
    font-family: bebas-neue,sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 14px;
    letter-spacing: 3px;
    text-align: center;
    /** Animation **/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all .3s ease;	
    /** Flexbox **/
    width: auto;
    resize: both;
    margin: 5px;
  }